

.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  

.app-column1 {
    bottom: 0;
    width: 20% !important;
    overflow: hidden;
    position: absolute;
    padding-right: 0 !important;
    text-align: left; 
}

.app-column2 {
    top : 14px;
    width : 80% !important;
    background: #D5D5D5;
}

.nopadding {
    padding:  0;
}